<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>
          <a href="">Créer</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% users.map(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td>
            <a href="">Voir</a>
            <a href="/users/<%= user.id %>/edit">Modifier</a>
            <a href="">Supprimer</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>


  </body>
</html>
